<!-- <h2 class="page-header">Dashboard</h2>
<p>Welcome to your Dashboard</p> -->

<table>
    <tr>
        <td>
            SASH INTERGRATED FOODSTUFF TRADING LLC<br/>
            Arenco Bldg 4, Office G-05, Dubai Investment Park 1<br/>
            Emirate, Dubai<br/>
            TRN : 00000000000000000000<br/>
            E-Mail : info@sashfoodstuff.ae<br/>
        </td>
        <td></td>
        <td>
            <br>
            Dubai<br/>
            TRN : 00000000000000000000<br/>
            E-Mail : info@sashfoodstuff.ae<br/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>Tax Invoice<br/>Tax Invoice</td>
        <td></td>
    </tr>
    </table>
    <table>
    <tr>
        <td>Grand Al Khail Mall<br>Al Khail Mall<br>TN : 55<br>Emirate, Fujairah</td>
        <td>
            <table>
                <tr>
                    <td>Invoice No.</td>
                    <td>Dated</td>
                </tr>
                <tr>
                    <td>Buyer Order No.</td>
                    <td>Dated</td>
                </tr>
                <tr>
                    <td>Despatched through</td>
                    <td>Place of Supply</td>
                </tr>
                <tr>
                    <td>Mode/Terms of Payment</td>
                    <td>ARABIC</td>
                </tr>
            </table>
        </td>
    </tr>
</table>